<div>
    @if (ViewBag.isStateActual == 0)
    {
        <div class="bodyFall body">
            <h2>No access</h2>
    This link is not valid, create a new account recovery request
        </div>
    }
    else if (ViewBag.isStateActual == 1)
    {
        <div class="bodyRecovery body">
            <label class="labelHeadSt">
                Password recovery
            </label><br /><br />
                          <form method="post" action="~/Restore/Password">
                              <label class="labelSt">
                                  New password
                              </label><br />
                              <input class="textInpSt validation" type="password" placeholder="Password" id="password"  name="newPassword" required/> <br>
                              <label class="labelSt">
                                  Password confirmation
                              </label> <br />
                              <input class="textInpSt validation" type="password" placeholder="Confirm Password" id="confirm_password" required/> <br>
                              <input style="display:none" name="idDriver" value="@ViewBag.IdDriver"/>
                              <input style="display:none" name="token"  value="@ViewBag.token"/> 
                              <input  class="btnInpSt" type="submit" value="Restore" />
                          </form>
        </div>
    }
    else if (ViewBag.isStateActual == 2)
    {
<div class="bodySussefull body">
    <h2>Successful</h2>
    You have successfully changed your password. Now you can log in to your account with a new password!<br/>
    We have sent your data to you by mail
</div>
    }
</div>

<script>
    var password = document.getElementById("password")
  , confirm_password = document.getElementById("confirm_password");

    function validatePassword() {
        if (password.value != confirm_password.value) {
            confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
            confirm_password.setCustomValidity('');
        }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>

<style>
    .bodyRecovery {
        position: absolute;
        top: 35%;
        left: 35%;
    }

     .validation:invalid {
        border-color: red;
        color: red;
    }

    .validation:valid {
        border-color: #4ad73b;
        color: #4ad73b;
    }

    .bodySussefull {
        top: 15%;
        left: 15%;
        background-color: rgba(131, 255, 8, 0.14);
        border: solid;
        border-width: 2px;
        border-color: rgba(162, 225, 27, 0.83);
        border-radius: 5px;
    }

    .bodyFall {
        top: 15%;
        left: 15%;
        background-color: rgba(255, 0, 0, 0.18);
        border: solid;
        border-width: 2px;
        border-color: rgba(255, 0, 0, 0.58);
        border-radius: 5px;
    }

    .body {
        position: absolute;
        padding: 20px;
        padding-top: 0px;
    }

    .textInpSt {
        margin: 5px;
        width: 350px;
        height: 35px;
        border-radius: 5px;
        font-size: 17px;
        color: rgb(51, 51, 51);
        border-color: rgb(51, 51, 51);
        border-style: groove;
        border-width: 1px;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }

    .labelSt {
        margin-left: 7px;
        font-size: 20px;
        color: rgb(51, 51, 51);
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }

    .labelHeadSt {
        margin: 10px;
        font-size: 24px;
        color: rgb(51, 51, 51);
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }

    .btnInpSt {
        margin: 5px;
        width: 120px;
        height: 35px;
        border-radius: 5px;
        font-size: 18px;
        color: rgb(51, 51, 51);
        border-color: rgb(51, 51, 51);
        border-style: groove;
        border-width: 1px;
        background-color: white;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        margin-top: 8px;
    }

        .btnInpSt:hover {
            background-color: rgb(51, 51, 51);
            color: white;
        }

        .btnInpSt:active {
            font-size: 19px;
        }

    .errSpanSt {
        margin-left: 5px;
        color: red;
        font-size: 16px;
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
</style>