<div class="body">
    <input class="backBtn" type="button" value="← Back to Orders" onclick="history.back();" />
    <form action="CreateOrder" method="post">
        <input type="text" name="idOrder"  value="@ViewBag.Order.Id"/>
        <div class="contentBody">
            <div class="content">
                <p class="inpLabe">Load Id</p>
                <input name="idLoad" class="inpText" type="text"/>
                <p class="inpLabe">Internal Load ID</p>
                <input name="internalLoadID" class="inpText" type="text"  />
                <p class="inpLabe">Driver</p>
                <select name="driver" class="dropDown">
                    <option value="">------------------------------------</option>
                </select>
            </div>
            <div class="content">
                <p class="inpLabe">Status</p>
                <select name="status" class="dropDown">
                    <option value="">------------------------------------</option>
                    <option value="NewLoad">NewLoad</option>
                    <option value="Picked up">Picked up</option>
                    <option value="Delivered">Delivered</option>
                </select>
                <p class="inpLabe">Instructions</p>
                <textarea name="instructions" class="inpText" style="height:92px;"></textarea>
            </div>
        </div>
        <div class="contentBody">
            <div class="content">
                <h2 style="color:#f3a74c;margin-bottom:2px;">Pickup Information</h2>
                <p class="inpLabe">Name</p>
                <input name="nameP" class="inpText" type="text" value="" />
                <p class="inpLabe">Contact</p>
                <input name="contactP" class="inpText" type="text" value="" />
                <p class="inpLabe">Address</p>
                <input name="addressP" class="inpText" type="text" value="" />
                <p class="inpLabe">City</p>
                <input name="cityP" class="inpText" type="text" value="" />
                <p class="inpLabe">State</p>
                <input name="stateP" class="inpText" type="text" value="" />
                <p class="inpLabe">Zip</p>
                <input name="zipP" class="inpText" type="text" value="" />
                <p class="inpLabe">Phone</p>
                <input name="phoneP" class="inpText" type="text" value="" />
                <p class="inpLabe">Email</p>
                <input name="emailP" class="inpText" type="text" value="" />
                <p class="inpLabe">Scheduled Pickup Date</p>
                <input name="scheduledPickupDateP" class="inpText" type="text" value="" />
            </div>
            <div class="content">
                <h2 style="color:#f3a74c;margin-bottom:2px;">Delivery Information</h2>
                <p class="inpLabe">Name</p>
                <input name="nameD" class="inpText" type="text" value="" />
                <p class="inpLabe">Contact</p>
                <input name="contactD" class="inpText" type="text" value="" />
                <p class="inpLabe">Address</p>
                <input name="addressD" class="inpText" type="text" value="" />
                <p class="inpLabe">City</p>
                <input name="cityD" class="inpText" type="text" value="" />
                <p class="inpLabe">State</p>
                <input name="stateD" class="inpText" type="text" value="" />
                <p class="inpLabe">Zip</p>
                <input name="zipD" class="inpText" type="text" value="" />
                <p class="inpLabe">Phone</p>
                <input name="phoneD" class="inpText" type="text" value="" />
                <p class="inpLabe">Email</p>
                <input name="emailD" class="inpText" type="text" value="" />
                <p class="inpLabe">Scheduled Pickup Date</p>
                <input name="scheduledPickupDateD" class="inpText" type="text" value="" />
            </div>
        </div>
        <div class="bodyTable">
            <h4 class="headTabe">Vehicles</h4>
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>VIN</th>
                        <th>Year</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Type</th>
                        <th>Color</th>
                        <th>Lot Number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr></tr>
                </tbody>
            </table>
            <input class="btnAddandRevoveVech btnD" type="button" value="-" />
            <input class="btnAddandRevoveVech btnD" type="button" value="+" />
        </div>
        <hr style="border-color:rgba(243, 167, 76, 0.29);margin:10px;" />
        <div class="contentBody">
            <div class="content">
                <h2 style="color:#f3a74c;margin-bottom:2px;">Payment Information</h2>
                <p class="inpLabe">Payment method</p>
                <select name="paymentMethod" class="dropDown">
                    <option value="">------------------------------------</option>
                    <option value="NewLoad">NewLoad</option>
                </select>
                <p class="inpLabe">Price</p>
                <input name="price" class="inpText" type="text" value="" />
                <p class="inpLabe">Broker Fee</p>
                <input name="brokerFee" class="inpText" type="text" value="" />
            </div>
            <div class="content">
                <p class="inpLabe">Payment terms</p>
                <textarea name="paymentTerms" class="inpText" style="height:92px;">IT ADD</textarea>
                <div style="display:flex;">
                    <input class="btnSave" value="Creat Oreder" type="submit" />
                </div>
            </div>
        </div>
    </form>
</div>
        <style>
            * {
                margin: 0px;
            }

            .btnAddandRevoveVech {
                border: none;
                width: 30px;
                background-color: #f9a038;
                color: #000000;
            }

            .btnSave {
                background-color:#323b85;
                border-style:double;
                border-color:#8faac3;
                width:100px;
                height:40px;
                border-radius:10px;
                color:white;
            }

            btnSave:hover {
                background-color: #8c8ac2;
            }


            .btnD:hover {
                background: rgba(243, 167, 76, 0.29);
            }

            .dropDown {
                width: 100%;
                height: 30px;
                border-width: 1px;
                border-style: double;
                border-radius: 7px;
                padding: 2px;
                font-size: 18px;
                color: #f3a74c;
                border-color: #f3a74c;
                margin-bottom: 15px;
            }

            .inpTextTr {
                border: none;
                width: 97%;
                background-color: rgba(243, 167, 76, 0.09);
                color: #f3a74c;
            }

            tr {
                display: table-row;
                vertical-align: inherit;
                border-color: inherit;
            }

            td, th {
                text-align: center;
                border-radius: 5px;
                color: #f3a74c;
            }

            td {
                background-color: rgba(243, 167, 76, 0.09);
            }

            th {
                border-bottom: solid;
                border-color: rgba(243, 167, 76, 0.54);
            }

            .table {
                width: 100%;
                max-width: 100%;
                margin-bottom: 20px;
            }

            .headTabe {
                font-size: 21px;
                margin-left: 10px;
                color: #f3a74c;
            }

                .bodyTable {
                margin: 15px;
            }

            .inpLabe {
                font-size: 18px;
                color: #f3a74c;
                margin-top:10px;
            }

            .inpText {
                width: 100%;
                height: 20px;
                border-width: 1px;
                border-style: double;
                border-radius: 7px;
                padding: 2px;
                font-size: 18px;
                color: #f3a74c;
                margin-bottom: 15px;
            }

            .content {
                width: 40%;
            }

            .contentBody {
                display:flex;
                justify-content:space-around;
            }

            .backBtn {
                background: none;
                border: none;
                font-size: 17px;
                color: #ffd7a6;
                margin-bottom: 20px;
            }

            .body {
                margin-top: 30px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 10px;
            }
        </style>