<div class="body">
    <input class="backBtn" type="button" value="← Back to Orders" onclick="history.back();" />
</div>

        <style>
            * {
                margin: 0px;
            }



            .backBtn {
                background: none;
                border: none;
                font-size: 17px;
                color: #ffd7a6;
                margin-bottom: 20px;
            }

            .body {
                margin-top: 30px;
                margin-left: 5px;
                margin-right: 5px;
                padding: 10px;
            }
        </style>
